body{
    background-image: linear-gradient(90deg, #ff7a00 0%, #f1f1f1 100%);
}

.logo{
    width: 37px;
    height: 50px;
}

.white-color{
    color: white;
}

/* Section company, section products */
.pd-top{
    padding-top: 40px ;
}

.box-content{
    padding-top: 60px;    
    padding-bottom: 60px;
    background-color: white;
    border-radius: 5px;
}

.imgNotice{
    height: 250px;
    width: 300px;
}

.imgNoticeResp{
    height: 100%;
    width: 90%;   
}

/*Search*/
#box-search{
    position: fixed;
    top: 75px;
    width: 60%;
    background: #fff;
    z-index: 1100;
    overflow: hidden;
    display: none;
    left: 20%;
}

#box-search li a{
    display: block;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}
